body {
    background-color: rgb(145, 237, 145);
    font-family: 'Roboto', sans-serif;
    
}

.navbar {
    background-color: rgb(89, 229, 89);
}

@media (min-width:500px) and (max-width:1000px){

}
.slide img{
    height: 700px;
    font-family: 'Roboto', sans-serif;
}

.card-body {
background-color: rgb(207, 246, 150);
font-family: 'Roboto', sans-serif;
}

.card-footer {
background-color: rgb(177, 230, 97);
font-family: 'Roboto', sans-serif;
}
.btn {
    background-color: rgb(89, 229, 89);
    font-family: 'Roboto', sans-serif;
}
.modal-dialog {
    font-family: 'Actor', sans-serif;
}
